@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Rock+Salt&display=swap');

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 175%;
    color: cornflowerblue;
}